/* Centering header and aligning items */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0A0703;
    background-color: #A6C2E2;
    padding: 30px 20px;
    gap: 40px; /* space between image and title */
}

h1{
    font-family: "IBM Plex Serif", serif;
    font-style: normal;
    font-size: 3.5rem;
    font-weight: 700;
}

/* Styling and enlarging the image */
.profile-image{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: block;
    filter: brightness(1);
}

h2{
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 15px;
}

h3{
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 15px;
    font-style: italic;
}

/* Paragraph formatting */
p{
    text-indent: 30px;
    font-family: "IBM Plex Serif", serif;
    font-size: 1rem;
    text-align: justify;
    line-height: 2.5rem;
}

ul{
    text-indent: 30px;
    font-family: "IBM Plex Serif", serif;
    font-size: 1rem;
    text-align: justify;
    line-height: 2.5rem;
}

#about-me{
    display: flex;
    gap: 40px;
}

.image{
    margin-right: 20px;
}
body{
    background-color: #FFF5EE;
}

.link{
    color: #0000EE;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-decoration-color: #0000EE;
    /* transition: text-decoration-line 0.3s ease; */
}

.link:hover{
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-decoration-color: #0000EE;
}

.link:visited{
    color: #800080; /* purple */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-decoration-color: #800080;
}